HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.bot.env
src/main/resources/application-prod.properties

/src/main/resources/application.properties.template
/bot.env        -> local, DO NOT commit
/dep.env        -> local, DO NOT commit
/application.properties.template -> commit, safe
/application.prod.properties -> ignore
/application.properties -> generated via placeholders from bot.env, ignore
# .gitignore
bot.env
dep.env
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
